/JavaApplication3/nbproject/private/
/NiedermayerDávid_filmsorsolo_0229/nbproject/private/
/NiedermayerDávid_filmsorsolo_0229/build/
/2024.03.07_fvg/nbproject/private/
/2024.03.07_fvg/build/
/filmsorsoloOOP/nbproject/private/
/filmsorsoloOOP/build/
/OOPonallofeladat/nbproject/private/
/HarryPotterCards/nbproject/private/
/HarryPotterCards/build/
/István Enum/nbproject/private/
/enum/nbproject/private/
/fileReader/nbproject/private/
/fileReader2/nbproject/private/
/fileReader2/build/
/fileReader/build/
/asdasdsad/nbproject/private/
/Niedermayer_Dávid_OOP_Dolgozat/nbproject/private/
/Niedermayer_Dávid_OOP_Dolgozat/build/
/OOPonallofeladat/build/
/Niedermayer_Dávid_OOP_Dolgozat/dist/
/István Enum/build/
/mavenproject1/target/
/Niedermayer_David_OOP_Dolgozat/nbproject/private/
/Niedermayer_David_OOP_Dolgozat/build/
/MVC_alapok/target/
