/JavaApplication3/nbproject/private/
/NiedermayerDávid_filmsorsolo_0229/nbproject/private/
/NiedermayerDávid_filmsorsolo_0229/build/
/2024.03.07_fvg/nbproject/private/
/2024.03.07_fvg/build/
/filmsorsoloOOP/nbproject/private/
/filmsorsoloOOP/build/
/OOPonallofeladat/nbproject/private/
/HarryPotterCards/nbproject/private/
/HarryPotterCards/build/
